{% extends "layout.html" %}

{% block content %}

<br />

<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:auto;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Video
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <center>
                    <div class="embed-responsive embed-responsive-16by9">
                        <video id="video" class="embed-responsive-item" controls>
                            <source id="videoSRC" src="" type="video/mp4" />
                        </video>
                    </div>
                </center>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function showVideo(vid) {
        $('#videoSRC').attr('src', '{{baseURL}}'+vid);
        $('#video').load();
        $('#videoModal').modal('show');
    }
</script>

<h2>Liebe/r {{ userName | safe }}</h2>
Herzlichen Dank für deinen wertvollen Einsatz und die Unterstützung der Khan Academy Im Bestreben erstklassige Bildung für jeden und überall verfügbar zu machen. Hier findest du eine Aufstellung deiner bisherigen Beiträge.
<ul>
    <li>{{ translatedCount }} Untertitel übersetzt (aber noch nicht approved)</li>
    <li>{{ reviewedCount }} deiner Untertitel sind approved </li>
    <li>{{ publishedCount }} deiner Videos und Untertitel sind auf Khan Academy publiziert</li>
</ul>
Die  <b>{{ publishedCount }}</b> publizierten Videos haben eine Länge von <b>{{ totalLength|int//3600 }} Stunden und {{ (totalLength|int%3600//60) }} Minuten</b> und sind insgesamt {{ totalViewCount }} mal angeschaut worden. YT views können nur für Videos (inkl. AI Dubbing)
und nicht für Untertitel resp. Talk-troughts ermittelt werden.
<p />
<p />
Vielen Dank für deine Mitarbeit!
<p />
Team KA Deutsch e.V.
<br />
<h3>Letzte 10 von {{ translatedCount }} übersetzten Untertitel (warten auf approval)</h3>
<table class="table table-striped">
    <tr><th>Titel</th><th>Länge</th><th>Datum</th><th>Status</th><th>Publiziert</th><th>Status</th><th>#-Views</th></tr>
    {% for subtitle in translatedSubtitles %}
    {% if loop.index <= 10 %}
    {% set seconds = subtitle.duration %}
    <tr><td><a href="{{ subtitle.canonical_url }}" target="_blank">{{ subtitle.course }} | {{ subtitle.unit }} || {{ subtitle.original_title }}</a></td><td>{{ seconds|int//60 }}:{{ (seconds|int%60) }}</td><td>{{ subtitle.translation_date }}</td>
    <td>{{ subtitle.translation_status }}
            {% if subtitle.local_video != None %}
            <button type="button" class="btn btn-sm" data-toggle="tooltip" data-placement="top" title="Edit" onClick="showVideo('{{ subtitle.local_video }}');"><i class="fa-brands fa-youtube"></i> </button>
            {% endif %}
    </td><td>{{ subtitle.listed }}</td><td></td><td></td></tr>
    {% endif %}
    {% endfor %}


    <tr><td colspan="7"><h3>Letzte 10 von {{ reviewedCount }} approved Untertitel (warten auf Publizierung)</h3></td></tr>
    <tr><th>Titel</th><th>Länge</th><th>Review Datum</th><th>Reviewer Name</th><th>Publiziert</th><th>Status</th><th>#-Views</th></tr>

    {% for subtitle in reviewedSubtitles %}
    {% if loop.index <= 10 %}
    {% set seconds = subtitle.duration %}
    {% set url = subtitle.canonical_url %}
    <tr>
        <td><a href="{{ url }}" target="_blank">{{ subtitle.course }} | {{ subtitle.unit }} || {{ subtitle.original_title }}</a></td>
        <td>{{ seconds|int//60 }}:{{ (seconds|int%60) }}</td>
        <td>{{ subtitle.review_date }}</td>
        <td>{{ subtitle.reviewer }}</td>
        <td>{{ subtitle.listed }}</td>
        <td>
            {{ subtitle.translation_status }}
            {% if subtitle.local_video != None %}
            <button type="button" class="btn btn-sm" data-toggle="tooltip" data-placement="top" title="Edit" onClick="showVideo('{{ subtitle.local_video }}');"><i class="fa-brands fa-youtube"></i> </button>
            {% endif %}
        </td>
        <td></td>
    </tr>
    {% endif %}
    {% endfor %}

    <tr><td colspan="7"><h3>{{ publishedCount }} publizierte Videos</h3></td></tr>
    <tr><th>Titel</th><th>Länge</th><th>Review Datum</th><th>Reviewer Name</th><th>Publiziert</th><th>Status</th><th>#-Views</th></tr>
    {% for subtitle in publishedSubtitles %}
    {% set seconds = subtitle.duration %}

    <tr>
        <td><a href="{{ subtitle.canonical_url }}">{{ subtitle.course }} | {{ subtitle.unit }} || {{ subtitle.original_title }}</a></td>
        <td>{{ seconds|int//60 }}:{{ (seconds|int%60) }}</td>
        <td>{{ subtitle.translation_date }}</td>
        <td>{{ subtitle.reviewer }}</td>
        <td>{{ subtitle.translation_date }}</td>
        <td>
            {{ subtitle.translation_status }}
            {% if subtitle.local_video != None %}
            <button type="button" class="btn btn-sm" data-toggle="tooltip" data-placement="top" title="Edit" onClick="showVideo('{{ subtitle.local_video }}');"><i class="fa-brands fa-youtube"></i> </button>
            {% endif %}
        </td>
        <td>
            {% if subtitle.yt_views != None %}{{ subtitle.yt_views }} Views /{% endif %}
            {% if subtitle.yt_comments != None %}{{ subtitle.yt_comments }} Comments /{% endif %}
            {% if subtitle.yt_likes != None %}{{ subtitle.yt_likes }} Likes{% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<center>
    WordCloud of all Contributors
</center>

{% endblock %}
