{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Flask</h1>
    <p class="lead">Khan Academy Deutsch bringt die Englische Khan Academy nach Deutschland! Aufgrund der Menge an &uuml;bersetzbaren Inhalten, sind wir auf die mitarbeit von dir als Freiwilligen angewiesen.</p>
    <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Vademecum</h2>
        <p>
            Flask gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://flask.pocoo.org/docs/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Untertitel</h2>
        <p>Als Freiwilliger ist deine Mitarbeit bei der &Uuml;bersetzung von Untertiteln der 8000+ Videos auf Khan Academy essentiell. Somit k&ouml;nnen wir mehr Inhalte auf Deutsch anbieten</p>
        <p>Unser Untertitel-&Uuml;bersetzungstook erstellt dabei einen ersten Entwurf mithilfe von Deepl.com. Als Freiwilliger kontrollierst und verbesserst du diesen Entwurf.</p>
        <p><a class="btn btn-default" href="/subtitles">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
