{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Khan Academy Deutsch</h1>
    <p class="lead">bringt die englische Khan Academy in den Deutschen Sprachraum (Deutschland, &Ouml;sterreich und Schweiz)! Aufgrund der Menge an &uuml;bersetzbaren Inhalten, sind wir sowohl auf die Mitarbeit von dir als Freiwilligen als auch bezahlte Video Producer angewiesen.</p>
    <p><a class="btn btn-default" href="https://www.kadeutsch.org">KA Deutsch &raquo;</a>

<div class="row">
    <div class="col-md-4">
        <h2>Vademecum</h2>
        <p>
            Vergiss nicht dich mit dem verwendeten Vokabular im <a href="https://docs.google.com/document/d/1oXXd2gXbJjGHwso5I4ox_hwzC1nIANGD/edit?usp=sharing&ouid=116418612276202099742&rtpof=true&sd=true">KA Deutsch Vademecum</a> auseinander zu setzen.
        </p>
        <p><a class="btn btn-default" href="https://docs.google.com/document/d/1oXXd2gXbJjGHwso5I4ox_hwzC1nIANGD/edit?usp=sharing&ouid=116418612276202099742&rtpof=true&sd=true">Vademecum</a></p>
    </div>
    <div class="col-md-4">
        <h2>Untertitel</h2>
        <p>Als Freiwilliger ist deine Mitarbeit bei der &Uuml;bersetzung von Untertiteln der 8000+ Videos auf Khan Academy essentiell.
        Unser Untertitel-&Uuml;bersetzungstool erstellt dabei einen ersten Entwurf mithilfe von Deepl.com. Als Freiwilliger kontrollierst und verbesserst du diesen Entwurf.</p>
        <p><a class="btn btn-default" href="/subtitles">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Video Producer</h2>
        <p>Wir suchen weiterhin Video Producer welche f&uuml;r uns Deutsche Videos Produzieren
        Bist du bereit jeden Monat mind 15 Videos zu produzieren? Du musst daf&uuml;r ca. 30-45 Stunden Zeit kalkulieren. Dann bist du die ideale Kandidanin oder Kandidat f&uuml;r diese bezahlte Position.
        <p><a class="btn btn-default" href="mailto:info@kadeutsch.org">Melde dich! &raquo;</a></p>
    </div>
</div>

{% endblock %}
