{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message|safe }}</h3>

<br />

<h2>Focus Topics</h2>

<table class="table table-striped">
    <thead><th>Topic</th><th>TopicChampion</th><th>Words Todo</th><th>Videos Todo / Total</th><th>Value</th></thead>
    {% for tName, topic in courses.items() %}
    <tr><td {% if topic['visible'] %} style="font-weight:bold;" {% endif %}>{{ topic.name }}</td><td>{{ topic.topicChampion }}</td><td><b data-toggle="tooltip" title="Total {{ "{:,.0f}".format(topic.words.word_count) }}">{{ (topic.words.word_count - topic.words.translated_count) }}</b></td>
    <td data-toggle="tooltip" title="Total: {{ topic.videos.total }} | Dubbed: {{ topic.videos.dubbed }} | Subbed: {{ topic.videos.subbed + topic.videos.sub_translated }}"><b>{{ topic.videos.todo }} </b> / {{topic.videos.total}}</tddata-toggle="tooltip">

    <td>{{ "{:,.0f}".format(topic.words.word_count|float * 0.05 + topic.videos.dubbed|int * 80 + (topic.videos.subbed|int + topic.videos.sub_translated|int) * 20) }} E</td>
    </tr>
    {% endfor %}
</table>

<hr />
<h2>Untertitel Translators</h2>
<table class="table table-striped">
    <thead>
    <th>Translator</th><th>Total</th><th>Translated</th><th>Translated Last 30 Days</th><th>Assigned</th><th>AI Dubbed</th><th>Dubbed</th><th>Last Activity</th></thead>
    <tr><td><b>Gesamtes Team</b></td><td><b>{{translatorsTotal.total}}</b></td><td><b>{{translatorsTotal.translated}}</b></td><td><b>{{translatorsTotal.DAY30}}</b></td><td><b>{{translatorsTotal.Assigned}}</b></td><td><b>{{translatorsTotal.AIDubbed}}</b></td><td><b>{{translatorsTotal.Dubbed}}</b></td></tr>
    {% for translator in translators %}
    <tr><td><a href="{{baseURL}}/contribution/{{ translator.translator }}">{{ translator.translator }}</a></td><td>{{ translator.total }}</td><td>{{ translator.Translated }}</td><td>{{ translator.DAY30 }}</td><td>{{ translator.Assigned }}</td><td>{{ translator.AIDubbed }}</td><td>{{ translator.Dubbed }}</td><td>{{ moment(translator.LastActivity).fromNow() }}</td></tr>
    {% endfor %}
</table>
{% endblock %}
