{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>

<script type="text/javascript">
    var showAll = false;
    var filter = 'math16'
    var user = '{{ userFilter }}'

    function refreshGrid() {
        if (user != '') {
            url = '{{ baseURL }}/content/data?user=' + user;
        } else {
            url = '{{ baseURL }}/content/data?filter=' + filter;
        }

        if (showAll) {
            url = url + '&showAll=1'
        }
        myGrid.config.server.url = url
        myGrid.forceRender();
    }

    function setFilter(myFilter) {
        filter = myFilter;
        user = '';
        refreshGrid()
        return false;
    }
    function showBacklog(myUser) {
        user = myUser;
        refreshGrid();
        return false;
    }
    function toggleShowAll() {
        showAll = !showAll;
        refreshGrid();
    }
</script>

{% if user.isContributor() %}
<p>You are logged in as "{{ user['name'] }}" as {{ user['role'] }}</p>
{% endif %}
<div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" onclick="toggleShowAll()">
    <label class="form-check-label" for="flexSwitchCheckDefault">Show All</label>
</div>
<h2>
    {% if user.isContributor() %}
    <a href="?user={{ user['name'] }}" onclick="return showBacklog('{{ user['name'] }}')">My Backlog</a>,
    {% endif %}
    {% if user.isAdmin() %}
    <a href="?filter=approval" onclick="return setFilter('approval')">Approval</a>,
    <a href="?filter=assigned" onclick="return setFilter('assigned')">Assigned</a>,
    <a href="?filter=publish" onclick="return setFilter('publish')">Publish</a>,
    {% endif %}

    {% for domain, name in domains.items() %}
    <a href="?filter={{ domain }}" onclick="return setFilter('{{ domain }}')">{{ name }}</a>,
    {% endfor %}


</h2>
<hr />
<table id="table" class="display" width="100%"></table>

<div class="modal fade" id="videoModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width:auto;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">AI Dubbed Video</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <center>
                    <div class="embed-responsive embed-responsive-16by9">
                        <video id="videoPlayer" class="embed-responsive-item" controls>
                            <source id="videoSRC" src="" type="video/mp4" />
                        </video>
                    </div>
                </center>
                <b>Template for Youtube Description (copy/paste to YT):</b><br />
                <div id="ytDescription">Lorem Ipsum Dolores</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% if user.isAdmin() %}
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="editTranslatorModalLabel">Edit Content Element</h5>
                <h4 class="modal-title" id="modalTitelLabel">TITLE</h4>
            </div>
            <div class="modal-body">

                <br />
                <input type="hidden" id="id" name="id" />
                <div class="form-group">
                    <label for="translator">Translator</label>
                    <input type="text" class="form-control" id="translator" list="translatorList" name="translator" placeholder="Enter Translator's name">
                    <datalist id="translatorList">
                        {%for user in users %}
                        <option value="{{ user['user_nicename'] }}">
                            {% endfor %}
                    </datalist>
                </div>
                <div class="form-group">
                    <label for="translationDate">Translation Date</label>
                    <input type="date" class="form-control" id="translationDate" name="translationDate" placeholder="Enter Translation Date">
                </div>
                <div class="form-group">
                    <label for="translationStatus">Status</label>
                    <select type="date" class="form-control" id="translationStatus" name="status" placeholder="status">
                        <option></option>
                        <option value="Assigned">Assigned</option>
                        <option value="Translated">Translated</option>
                        <option value="Approved">Approved</option>
                        <option value="AI Dubbed">AI Dubbed</option>
                        <option value="Native Dubbed">Native Dubbed</option>

                    </select>
                </div>
                <div class="form-group">
                    <label for="translationComment">Comment</label>
                    <textarea class="form-control" id="translationComment" rows="2"></textarea>
                </div>
                <hr />
                <div class="form-group">
                    <input class="form-check-input" type="checkbox" id="subbed">
                    <label for="subbed">Subbed</label>
                </div>

                <div class="form-group">
                    <input class="form-check-input" type="checkbox" id="dubbed">
                    <label for="dubbed">Dubbed</label>
                </div>

                <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                        Youtube Description</a>
                      </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                      <div class="panel-body" id="ytDescriptionPanel">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                      commodo consequat.</div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveTranslator()">Save changes</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

<script type="text/javascript">
    var ytDescription = [];
    myGrid=new gridjs.Grid({


        //columns: ["Art", "Domain", "Kurs", "Tutorial", "Lektion", "Titel", "Duration", "Dubbed", "Subtitled", "Translator", "Date", "Published", "Actions"],
        pagination: {
            limit: 10
        },
        //sort: true,
        search: true,

        columns: [
            { id: "id", field: "id", hidden: true },
            { id: "canonical_url", field: "canonical_url", hidden: true },
            { id: "youtube_id", field: "youtube_id", hidden: true },

            { id: "domain", field: "domain", name: "Fach" },
            {
                id: "course", field: "course", name: "Kurs",
                formatter: (value, row) => {
                    return gridjs.html(`<a target="_blank" href="https://de.khanacademy.org/${row.cells[3].data}/${value}">${value}</a>`);
                }
            },
            {
                id: "unit", field: "unit", name: "Lerneinheit",
                formatter: (value, row) => {
                    return gridjs.html(`<a target="_blank" href="https://de.khanacademy.org/${row.cells[3].data}/${row.cells[4].data}/${value}">${value}</a>`);
                }
            },
            { id: "lesson", field: "lesson", name: "Lektion" },
            {
                id: "original_title", field: "original_title", name: "Titel",
                formatter: (cell) => gridjs.html(`<b>${cell}</b>`)
            },
            {
                id: "duration", field: "duration", name: "Duration",
                formatter: (cell) => {
                    var min = Math.floor(cell / 60);
                    var sec = cell % 60;
                    sec = (sec < 10 ? "0" : "") + sec;

                    return gridjs.html(min + `:` + sec);
                }
            },
            {
                id: "dubbed", field: "dubbed", name: "dubbed",
                formatter: (value) => {
                    if (value == 'True') {
                        return gridjs.html(`<div style="background-color: green;">${value}</div>`);
                    } else {
                        return gridjs.html(`<div style="background-color: red;">${value}</div>`);
                    }
                }
            },
            {
                id: "subbed", field: "subbed", name: "subbed",
                formatter: (value) => {
                    if (value == 'True') {
                        return gridjs.html(`<div style="background-color: green;">${value}</div>`);
                    } else {
                        return gridjs.html(`<div style="background-color: red;">${value}</div>`);
                    }
                }
            },
            {
                id: "translator", field: "translator", name: "Uebersetzer",
                formatter: (value) => {
                    if ( value != null)
                        return gridjs.html(`<a target="_blank" href="{{baseURL}}/content/?user=${value}">${value}</a>`);
                    else
                        return ''
                }
            },
            {
                id: "translation_date", field: "translation_date", name: "T-Datum",
                formatter: (value) => {
                    if (value != null ) {
                        var dateObj = new Date(value);
                        return dateObj.toLocaleDateString();
                    } else
                        return value;

                }
            },
            { id: "translation_status", field: "translation_status", name: "Status" },
            { id: "listed", field: "listed", name: "Published" },
            { id: "translation_comment", field: "translation_comment", name: "Comment", hidden: true },
            { id: "yt_description", field: "yt_description", hidden: true },
            { id: "local_video", field: "local_video", hidden: true },

            {
                id: "Actions", name: "Actions",
                'attributes': (cell, row, column) => {
                    if (row) {
                        return {
                            'data-ytDescription': row[16],
                        }
                    }
                },
                formatter: (cell, row) => {
                    //Change link if Content is not published
                    if (row.cells[14].data == 'False') {
                        row.cells[1].data = row.cells[1].data.replace('https://de.', 'https://www.');
                    }
                    if (row.cells[16].data != null ) {
                        ytDescription[row.cells[0].data] = row.cells[16].data.replace(/\n/g, "<br />");
                    }

                    // Only show action buttons if the user is logged in on KADE
                    var buttons =
                        `<a target="_blank" href="${row.cells[1].data}"><button class="btn btn-sm"data-toggle="tooltip" data-placement="top" title="Open on Khan Academy"><i class="fa-brands fa-leanpub"></i></button></a>&nbsp;` +
                        `<a target="_blank" href="{{baseURL}}/subtitles/${row.cells[2].data}"><button class="btn btn-sm" data-toggle="tooltip" data-placement="top" title="Subtitle on Amara"><i class="fa-solid fa-closed-captioning"></i></button></a>&nbsp`;
                        {% if user.isAdmin() %}
                    buttons += `<button type="button" class="btn btn-sm" data-toggle="tooltip" data-placement="top" title="Edit" onclick="

                            $('#modalTitelLabel').text('`+ row.cells[7].data.replace(/"/g, '').replace(/\'/g, '') + `');
                            $('#id').val('${row.cells[0].data}');
                            $('#translator').val('${row.cells[11].data}');

                            //Automatically set date to today if it is null, else take from DB
                            if ('${row.cells[12].data}' == 'null') {
                                $('#translationDate').val(new Date().toISOString().slice(0, 10));
                            } else {
                                $('#translationDate').val(new Date('${row.cells[12].data}').toISOString().slice(0, 10));
                            }
                            $('#translationStatus').val('${row.cells[13].data}');

                            //Needs some debugging
                            if('${row.cells[15].data}' == '') {
                                console.log('DEBUG: comment is empty');
                            }

                            $('#translationComment').text('${row.cells[15].data}');

                            if ( '${row.cells[9].data}' == 'True') {
                                $('#dubbed').prop('checked', true);
                            }

                            if ( '${row.cells[10].data}' == 'True') {
                                $('#dubbed').prop('checked', true);
                            }

                            // Set the Youtube Description
                            $('#ytDescriptionPanel')[0].innerHTML = ytDescription['${row.cells[0].data}'];

                            $('#editModal').modal('show');"><i class="fa-solid fa-pen-to-square"></i></button>&nbsp`;
                        {% endif %}

                    // Only show the button if there is a local video

                    if (row.cells[17].data != null) {
                        console.log(row.cells[17].data);
                        buttons += `<button type="button" class="btn btn-sm" data-toggle="tooltip" data-placement="top" title="AI Video" onClick="
                                $('#ytDescription')[0].innerHTML = ytDescription['${row.cells[0].data}'];
                                $('#videoSRC').attr('src', '{{baseURL}}' + '${row.cells[17].data}');
                                $('#videoPlayer').load();
                            $('#videoModal').modal('show');"><i class="fa-brands fa-youtube"></i> </button>`;

                    }

                    return gridjs.html(buttons);
                    // Link to Translation Portal 1stID is the Domain, second ID is the Course
                    // https://de.khanacademy.org/devadmin/translations/xff10333bf599f93a/xffde7c31/?

                }
            }
        ],
        server: {
            {% if userFilter != '' %}
            url: '{{baseURL}}/content/data?user={{ userFilter }}',
            {% else %}
            url: '{{baseURL}}/content/data?filter={{ filter }}',
            {% endif %}
            then: data => data,

        },


    }).render(document.getElementById("table"));

    function AssigntoUser(id) {
        $.ajax({
            type: "POST",
            url: '{{baseURL}}/content/assign/' + id,
            contentType: "application/json",
            success: function (response) {
                myGrid.forceRender();
            },
            error: function (xhr, status, error) {
                alert("Error: " + error);
            }
        });
    }

    function saveTranslator() {
        var id = $("#id").val();
        var translator = $("#translator").val();
        var translationDate = $("#translationDate").val();
        var translationStatus = $("#translationStatus").val();
        var translationComment = $("#translationComment").val();

        var subbed = $("#subbed").prop('checked');
        var dubbed = $("#dubbed").prop('checked');
        var data = { "translator": translator, "translationDate": translationDate, "translationStatus": translationStatus, "translationComment": translationComment, "subbed": subbed, "dubbed": dubbed };

        $.ajax({
            type: "POST",
            url: '{{baseURL}}/content/data/'+id,
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function (response) {
                myGrid.forceRender();
                $("#editModal").modal("hide");
            },
            error: function (xhr, status, error) {
                alert("Error: " + error);
            }
        });

    }

</script>

{% endblock %}
